.filter_widget select{
  padding: 8px 10px;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}
.filter_widget select:focus{
 outline: none;
}
.filter_widget select option{
  font-size: 0.9rem;
}
.search_box{
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  /* padding-right: 10px; */
  padding-left: 2px;
  cursor: pointer;
}
.search_box input{
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
}
.search_box span{
  color: var(--primary-color);
}